body {
    background-color: rgba(0, 0, 0, 0.918);
}

.safe {
    --colour: green;
}

.middle {
    --colour: orange;
}

.weak {
    --colour: red;
}

.form {
    border: 2px solid rgb(30, 255, 0);
    border-radius: 5px;
    margin: auto;
    width: 60%;
    padding: 10px 50px 20px;
    margin-top: 20px;
}

input {
    border-radius: 5px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 200px;
    color: white;

}

label {
    color: white;
}

p {
    text-align: center;
}

.parameter {
    position: relative;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    width: 40%;
    height: 13px;
    border-radius: 25px;
    overflow: hidden;
}

.parameterContain {
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(1% * var(--strength, 0));
    background-color: var(--colour, red);
    transition: width 200ms;
}

.reason {
    font-style: italic;
    color: red;
}